*{
margin: 0px;
padding:0px;

}
body{
    margin: 0px!important;
    padding:0px!important;  
}
html{
    scroll-behavior: smooth;
}
a{
    color:inherit;
    text-decoration: unset;
}
header{
    position: fixed;
    width: 100%;
    display: flex!important;
    justify-content: space-between;
    background-color: black;
    color: white; 
}
header h1{
    padding: 10px;
}
header nav ol{
    padding: 15px;
}
header nav li{
    display: inline-block;
    padding: 5px 10px;
    color:white;
    transition-duration: 1s;
}
#current{
    border: 1px solid rgb(91, 159, 238);
    padding: 5px 10px;
    border-radius: 15px;
}
header nav li:hover{
    background-color: white;
    color:black;
    margin-right: 10px;
}
.bg{
    background-image: url(../images/p2.jpg);
    background-size: cover;
}
.section1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section1>h2{
    color :rgb(35, 124, 226);
    font-size: 30px;
}
.section1>p{
margin: 20px 50px;
font-style: italic;
background-color: rgba(211, 211, 211, 0.74);
border : 1px solid rgb(91, 159, 238);
border-radius: 50px;
padding: 20px;
}
.arrow{
    font-size: 30px;
    border: 1px solid rgb(35, 124, 226);
    padding: 14px 25px;
    border-radius: 100%;
    transition-duration: 1s;
}
.arrow:hover{
    background-color: white;
}
.section2{
    display: flex;
}

#section2 article{
border :1px solid rgb(91, 159, 238);;
margin: 10px 20px;
padding: 10px;
transition-duration: 1s;
background-color: rgba(173, 216, 230, 0.733);
}
#section2 article h3{
    text-align: center;
}
#section2 article p{
    text-align: justify;
}

#section2 article:hover h3{
text-decoration: underline;
    }
#section2 article:hover{
transform: scale(1.1);

    }
footer{
    background-color: black;
    color:white;
    height: 30vh;
    display: flex!important;
    font-size: 30px;
justify-content: space-around;
align-items: center;
}
footer a{
    margin-left: 20px;
}
footer a:hover{
    color:white;
}
@media screen and (max-width:769px){
    .section2{
       flex-direction: column;
    }
}
@media screen  and (max-width:510px)
{
    header{
        flex-direction: column;
        align-items: center;
        position: static;
    }
    header nav li{
        display: block;
      
    }

}